.body {
  overflow: hidden;
}

.service-profile-flex-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-profile-container {
  width: 1276px;
  height: 620px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.service-profile-header {
  width: 1276px;
  height: 48px;
  background: transparent;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.service-profile-icons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  /* margin-top: 5px; */
  margin-left: 10px;
  margin-right: 10px;
}

.service-profile-icon {
  width: 30px;
  height: 30px;
  margin-top: 8px;
  border-radius: 50%;
  background: #7ce605;
}

.service-profile-iconspe {
  margin-top: 8px;
  width: 30px;
  height: 30px;
  margin-left: auto;
  border-radius: 50%;
  background: #7ce605;
}

.service-profile-overall-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1276px;
  height: 572px;
  background: transparent;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.service-profile-overview {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 315px;
  height: 550px;
  background: transparent;
  border-radius: 20px;
  margin-left: 10px;
}

.service-profile-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid #7ce605;
  overflow: hidden;
  margin-bottom: auto;
}

.service-profile-circle:hover {
  cursor: pointer;
}

.service-profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.5);
}

.service-profile-circle img:hover {
  transform: scale(1.1);
}

.service-profile-user {
  display: flex;
  top: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  height: 72px;
  background: transparent;
}

.service-profile-card-name {
  font-size: 30px;
  font-weight: bold;
  margin: 5px 0;
}

.service-profile-card-profession {
  font-size: 20px;
  color: #757575;
}

.service-profile-review {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 266px;
  height: 150px;
  background: transparent;
  top: 20px;
  margin-bottom: auto;
}

.service-profile-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 150px;
  background: transparent;
  font-size: 70.64px;
  font-weight: 400;
  line-height: 57.66px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-right: 10px;
}

.service-profile-line {
  width: 5px;
  height: 100px;
  background: #7ce605;
  border-radius: 5px;
}

.service-profile-based {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 158px;
  height: 150px;
  background: transparent;
}

.service-profile-review-number{
  margin-left: 10px;
}
.service-profile-posted {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  width: 200px;
  height: 30px;
  background: transparent;
}

.service-profile-experience {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  width: 915px;
  height: 550px;
  background: #edf4f9;
  border-radius: 20px;
}

.service-profile-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 885px;
  height: 520px;
  background: transparent;
  border-radius: 20px;
}

.service-profile-special {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.service-profile-box-plot {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 340px;
  height: 55px;
  border-radius: 36px;
  border: 1px solid #000000;
}

.service-profile-day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
  border: 1.5px solid #000000;
}

.service-profile-day.service-profile-available {
  border-color: #7ce605;
}

.service-profile-day.service-profile-available:hover {
  cursor: pointer;
  background: #7ce605;
  border-color: none;
}

.service-profile-special2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 885px;
  height: 50px;
}

.service-profile-call {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 45px;
  background: black;
  border-radius: 36px;
  color: white;
  border: #7ce605 solid 2px;
  cursor: pointer;
}

.service-profile-callsym {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #7ce605;
}

.service-profile-price {
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 140px;
  height: 45px;
  background: black;
  border-radius: 36px;
  color: white;
  border: #7ce605 solid 2px;
  cursor: pointer;
}

.service-profile-pricesym {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #7ce605;
}
